:root {
  --primero: #8bc34a;
  --segundo: #03a9f4;
  --tercero: #ab47bc;
  --cuarto: #ffb300;
  --gris: #ecf0f5;
  --azul: #25476a;
  --naranja:#FDA944;
  --smart: #1888B2;
}

html{
  height: 80%;
  
}

body{
  min-height: 100%;
  
  
}

body.login{
  background-image: url(../img/learn.jpg);
  background-size: cover;   
}

body.login .contenido{
  border-radius: 10px;
}

.btn-primary, .btn-primary{
  background-color: #FDA944;
}


.carousel-inner img {
  width: 100%;
  max-height: 400px;
  
  
}
/* INDEX*/
.carousel-inner{
margin-top: .5rem;
  height: 350px;
background-color:rgba(202, 202, 208);
}

h2.lecture-title {
  margin: 30px 0;
  font-size:3rem;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #1888B2;
  color:#FDA944;
  text-shadow: 6px 6px 6px #25476a;
}
h2.display-3{
  margin: 30px 0;
  font-size:3rem;
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #1888B2;
  color:#FDA944;
}

.card img{
  width: 100%;
  height: 160px; 

  max-height: 300px;
}

.card{
  max-height: 580px;
}

div.jumbotron{
  padding-top: 10px;
  width: 100%;
  height: 100px;
  background-color: #1888B2;
  background-color: #FDA944;
}

div.service {
  padding: 70px 0;  /*Este pading es para el Scroll spye-->*/
}

div.service, img.float-left{
  margin-right: 50px;
}



/*-----------------------------------*/


body{
  margin: 0;
  padding: 0 ; 
  background: rgba(202, 202, 208, 0.658);
  display: flex;
}

.navbar{
  font-size: 25px;
  width: 100%;
  background-color: #25476a!important;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
  padding: 10px 40px;
  
}

.nav-link{
  margin-left: 15px ;
  
}

.nav-link:hover{
  color:#f76623;
}

.nav-link a{
  color: rgba(102, 185, 191)!important; 
}

.container-fluid{
  background-color: rgba(202, 202, 208, 0.658);
  width:100%;
  border: 0px;
  position: relative; 
  margin-left: 5rem;;
  
}
 .footer{
  background-color:#25476a;
}
.footer img{
  width: 120px;
    height: 110px;
}
.navbar img{
  padding-top: 1rem;
  margin-left: 1rem;
  display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color:#f2f2f2c9;
    border-radius: 50%;
    overflow: hidden;
}

.navbar-toggler{
  font-size: 40px;
  
}

.navbar-toggler-focus{
  outline: none;
}

#div_fotos{
  padding-left: 30px;
  padding-top: 30px;
 
  
}

#div_fotos img{
  border-radius: 30px;
  -moz-box-shadow: 0 0 20px black; 
    -webkit-box-shadow: 0 0 20px rgba(202, 202, 208)  ; 
    box-shadow: 0 0 20px rgba(44, 165, 131); 
    padding-bottom: 5rem;
}

#div_texto{
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

#texto{
  border-radius: 30px;
}

#texto h3{
  margin: 20px;
}

#precio{
  max-height: 600px;
}

#precio img{
  border-radius: 30px;
  -moz-box-shadow: 0 0 20px black; 
    -webkit-box-shadow: 0 0 20px black; 
    box-shadow: 0 0 20px black; 
}


.carousel-inner .carousel-item img{
  width: 1000px;
  height: 350px;
  margin-left: 10rem;
  margin-top: .1rem;
}

/*Inicia formulario registro.php*/

.form-resgister{
  width: 95%;
  max-width: 500px;
  margin: auto;
  background: white;
  border-radius: 7px;
    box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 21px 0px rgba(0,0,0,0.75);
}

.form-titulo{
  background: #ec5c0c;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 30px;
  font-size: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 5px solid darkgray;

}

.contenedor-inputs{
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;

}

.input-100{
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
}

.btn-enviar{
  background: #ec5c0c;
  color: #fff;
  margin: auto;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 100;
  border-radius: 20px;
}

bnt-enviar:active{
  transform: scale(1.05);

}

.btn{
  text-align: center;
  width: 100%;
}

.p a{
  font-size: 25px;
}

.form-link{
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-size: 25px;
}

.form-link a{
  color: #ec5c0c;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}


/*Fin formulario registro.php*/

/* Calendario */
.fc th{
  padding: 10px 0px;
  vertical-align: middle;
  background: #F2F2F2;
}



/* estrellas */
p.clasificacion {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

p.clasificacion input {
  position: absolute;
  top: -100px;
}

p.clasificacion label {
  float: right;
  color: #333;
}

p.clasificacion label:hover,
p.clasificacion label:hover ~ label,
p.clasificacion input:checked ~ label {
  color: #dd4;
}